.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #07402c;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    box-sizing: content-box;
    transition:  top 2s ease, opacity 1s ease; 
    display: flex;
}

.search.is-loading{
    opacity: 0;
    top: 70%;
}

.search:hover > .searchinput {
    width: 240px;
    padding: 0 6px;
}

.search:hover > .searchbutton {
  background: white;
  color : #095138;
}

.searchbutton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #095138;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchinput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: 'Times New Roman', Times, serif

}

.eyesocket {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: all 1.5s ease;
}

.eyesocket.is-loading {
    top: 50%;
}

.eyesocket.is-loaded {
    top: 120px;
    left: 120px;
}


.socket-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2; 
}

.socket-image.back{
    z-index: -1;
}

.hidden {
    display: none; 
}

.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px; 
    height: 48px;
    transform: translate(-50%, -50%);
    z-index: 1; 
    transition: transform 0.05s linear;
    pointer-events: none;
}

.spinner-eye {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  

@media screen and (max-width: 680px) {
    .mobile{
        margin-bottom: 240px;
    }
    .eyesocket.is-loaded {
        top: 120px;
        left: 50%
    }
}
