mat-card-title{
  padding-bottom: 12px;
  letter-spacing: 0.1rem;
}

.analysis-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem;
  align-items: start; 
  width: 100%;
}

.details-container{
  max-width: calc(100vw - 250px);
  width: 100%;
  padding-right: 1rem;
}

.small-card {
  padding: 0.5rem;
  margin: 8px 0px;
  background: #7a9c79;
  overflow-wrap: break-word;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.small-card:hover {
  transform: translateY(-5px);
  background-color: white;
  color: black;
}

.analysis-card {
  padding: 1rem;
  background: rgb(156, 156, 156);
  color:rgb(51, 51, 51);
  width: 100%;
  max-width: 50vw;
  font-size: 0.8rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(156, 156, 156);
  border-radius: 12px;
}


.analysis-card.top {
  max-width: calc(100vw - 250px);
  display: flex;
}

.top-content{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;

}

.top-content-column{
  display: flex; 
  flex-direction: column; 
  padding: 0px 12px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
}


.fade-in {
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.error {
  background: #d40e33;
}


@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

@media (min-width: 2560px) {
  .details-container{
      max-width: calc(100vw - 500px);
      padding: 1rem 1rem 0 1rem;
  }
  .analysis-card{
    font-size: 1.1rem;
  }
  .top-content-column{
    font-size: 1.4rem;
  }
  mat-card-title{
    font-size: 2rem;
  }
}


@media screen and (max-width: 680px) {
    .analysis-container {
      grid-template-columns: 1fr;
      display: block;
      padding-top: 0;
    }
    .analysis-card{
      max-width: 100vw;
      margin-bottom: 1rem;
    }
    .analysis-card.top{
      max-width: 100vw;
    }
    .details-container{
      max-width: 100vw;
      padding: 1rem 1rem 0 1rem;
    }
    .container{
      overflow-x: hidden;
      flex-direction: row;
      flex-wrap: wrap;
    }
}